<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="org.sang.bean.Order">
        <id column="id" property="id"/>
        <result column="commodity" property="commodity"/>
        <result column="member_id" property="member_id"/>
        <result column="commodity_name" property="commodity_name"/>
        <result column="commodity_amount" property="commodity_amount"/>
        <result column="create_time" property="create_time"/>
        <result column="phoneNumber" property="phoneNumber"/>
        <result column="memberCardNumber" property="memberCardNumber"/>
        <result column="commodity_count" property="commodity_count"/>
    </resultMap>
	<resultMap id="BaseResultMap1" type="org.sang.bean.TransactionRecords">
	        <id column="id" property="id"/>
	        <result column="transaction_name" property="transaction_name"/>
	        <result column="amount" property="amount"/>
	        <result column="transaction_time" property="transaction_time"/>
	        <result column="phoneNumber" property="phoneNumber"/>
	        <result column="memberCardNumber" property="memberCardNumber"/>
	        <result column="member_id" property="member_id"/>
	        <result column="name" property="name"/>
	    </resultMap>


    <insert id="addOrder" parameterType="org.sang.bean.Order">
            insert into t_orders (commodity,member_id,commodity_name,commodity_amount,commodity_count,phoneNumber,memberCardNumber,member_name)
    values (#{commodity},#{member_id},#{commodity_name},#{commodity_amount},#{commodity_count},#{phoneNumber},#{memberCardNumber},#{member_name})
    </insert>

    <select id="getOrderByPhone" resultMap="BaseResultMap">
        select * from t_orders e where e.phoneNumber = #{phoneNumber} or e.memberCardNumber = #{memberCardNumber}
    </select>

    <select id="getCountByPhone" resultType="Long">
           select count(*) from t_orders e where e.phoneNumber = #{phoneNumber} or e.memberCardNumber = #{memberCardNumber}
    </select>
    
    <delete id="deleteOrderBymemberId">
       DELETE from t_orders where member_id = #{memberId}
    </delete>
    
    <insert id="isrOrderToHistory">
            insert into t_orders_history select * from t_orders where member_id = #{memberId}
    </insert>
    
    <select id="getOrderHistoryByPhone" resultMap="BaseResultMap">
        select * from t_orders_history e where 1=1
        <if test="phoneNumber!=null and phoneNumber !=''">
            AND  e.phoneNumber = #{phoneNumber}
        </if>
        order by e.member_name,e.create_time desc limit #{start},#{size}
        
    </select>
    
    <select id="getOrderHistoryCountByPhone" resultType="Long">
           select count(*) from t_orders_history e where 1=1
        <if test="phoneNumber!=null and phoneNumber !=''">
            AND  e.phoneNumber = #{phoneNumber}
        </if>
    </select>
    
    
     <select id="getTransHistoryByPhone" resultMap="BaseResultMap1">
       select t.* from ( select trans.*,mem.name from t_transactionrecords trans left join t_member mem on trans.member_id = mem.id
        Where 1=1 
        <if test="phoneNumber!=null and phoneNumber !=''">
            AND  trans.phoneNumber = #{phoneNumber}
        </if>) t
        order by t.name,t.transaction_time desc limit #{start},#{size}
        
    </select>
    
    <select id="getTransHistoryCountByPhone" resultType="Long">
           select count(*) from t_orders_history e where 1=1
        <if test="phoneNumber!=null and phoneNumber !=''">
            AND  e.phoneNumber = #{phoneNumber}
        </if>
    </select>
</mapper>